.CastCards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.CastCard {
  width: 150px;
  background-color: #e3e3e3;
  border-radius: 5px;
  overflow: hidden;
}

.P {
  text-align: center;
}

.PHero {
  color: #470606;
  text-align: center;
  font-weight: 700;
}
